.root {
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    border: 10px solid #eceff1;
    border-bottom-width: 60px;
    margin-top: 50px;
    border-radius: 20px;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8px 20px;
}

.button {
  background-color: rgb(235, 0, 141);
  border: none;
  width: 100px;
  height: 45px;
  padding: 0!important;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2em;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}