.root {
    position: relative;
}

.amountInputContainer {
    position: absolute;
    top: 16px;
    right: 36px;
}

.inputWithMinusSign::before {
    content: '-';
    font-size: 44px;
    position: absolute;
    left: -10px;
} 
  
.amountInput {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    border: 0;
    min-width: 1px;
    font-size: 44px;
    color: #333;
    background-color: transparent;
    overflow: visible;
    width: 150px;
    border-bottom: 1px solid #eceff1;
}
  
.amountInput:focus {
    outline: 0;
}
  