@import url('//fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global override styles */
.carousel .slide {
  background: none !important;
}

.carousel.carousel-slider {
  width: 60% !important;
  overflow: visible !important;
}

.carousel .control-dots {
  width: auto !important;
  bottom: -50px !important;
}

.carousel .control-dots .dot {
  background: #bdbdbd !important;
  width: 12px !important;
  height: 12px !important;
}

.notification-container {
  position: absolute !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
